body {
    font-family: Arial, sans-serif;
    background-image: url('imagenes/lila.jpg'); /* Cambia esto por la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: black; /* Texto en negro */
    text-align: center;
    padding: 20px;
    margin: 0; /* Sin márgenes */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura */
    box-sizing: border-box; /* Incluye padding y border en el total del ancho y alto */
}

.container {
    max-width: 400px; /* Ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 10px; /* Espaciado */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    margin-bottom: 70px; /* Espacio inferior */
    display: flex; /* Usar Flexbox */
    flex-direction: column; /* Alinear en columna */
    align-items: center; /* Centrar elementos */
    justify-content: flex-start; /* Alinear al inicio */
}

h1 {
    margin: 5px 0; /* Reducir margen para un texto más compacto */
    font-size: 2em;
}

.logo {
    max-width: 130px; /* Tamaño del logo */
    margin: 10px auto; /* Mantener margen alrededor del logo */
    display: block; /* Comportamiento de bloque */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@400;700&display=swap'); /* Importar fuente elegante */

.button {
    background-color: rgba(138, 43, 226, 0.9); /* Color de fondo lila */
    color: white; /* Color de texto en botones (negro) */
    font-family: 'Lora', serif; /* Cambiar tipografía a Lora */
    padding: 10px 5px;
    margin: 5px auto;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s, transform 0.3s;
    max-width: 90%;
    width: 100%;
}

.button:hover {
    background-color: rgba(128, 0, 128, 0.9); /* Lila más oscuro al pasar el ratón */
    transform: scale(1.05);
}

.button img {
    width: 24px; /* Tamaño de iconos */
    height: 24px;
}

footer {
    margin-top: 40px;
    font-size: 16px; /* Texto del footer */
    color: white; /* Texto blanco */
    background-color: black; /* Fondo negro */
    padding: 15px; /* Padding */
    width: 100%; /* Ancho completo */
    position: fixed; /* Mantener el footer fijo */
    left: 0; /* Alinear a la izquierda */
    bottom: 0; /* Fijar en la parte inferior */
    text-align: center; /* Centrar texto */
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em; /* Tamaño de texto en móviles */
    }
    .logo {
        max-width: 100px; /* Tamaño más pequeño en móviles */
    }
    .button {
        padding: 10px; /* Ajustar padding para móviles */
        font-size: 16px; /* Tamaño de texto */
    }
}